@using cvWebApplication;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" id="navbar-complete">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand">
					<a href="/">
						<img src="~/Images/logo.png" alt="Logo" />
					</a>
				</div>

			</div>

			<div class="navbar-button-group">
				<ul class="nav navbar-nav navbar-left">
					<div class="btn-group" role="group" aria-label="navbar-button-group">

						<button id="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active-btn" : "home-btn")" type="button" class="btn btn-toolbar" onclick="location.href='/Home'">Home</button>
						<button id="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active-btn" : "about-btn")" type="button" class="btn btn-toolbar" onclick="location.href='/Home/About'">About</button>
						<button id="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active-btn" : "contact-btn")" type="button" class="btn btn-toolbar" onclick="location.href='/Home/Contact'">Contact</button>

					</div>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
		<div class="collapse navbar-collapse" id="collapsed-navbar-container">
			<div class="collapsed-navbar">
				<ul id="head-navbar-collapse-ul" class="nav navbar-nav navbar-left"> 
					<li><a href="/" style="width:50%">Home</a></li>
					<li><a href="/Home/About" style="width:50%;">About</a></li>
					<li><a href="/Home/Contact" style="width:50%;">Contact</a></li>
					@Html.Partial("_LoginPartialCollapse")

				</ul>
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
		<hr style="border-color:rgb(255,135,35);" />	
		<footer>
			<p style="font-size:12px;">&copy; @DateTime.Now.Year - Yuval Steuer</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

</body>
</html>
